.containerMain {
    min-height: 400px;
    max-height: 500px;
    margin-top: 16px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: scroll;
}
.avatarContainer {
    height: 180px;
    width: 180px;
    border-radius: 10px;
    margin-top: -2vw;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}
.nameText {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
.locationText {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 300;
    text-align: center;
}
.designationText {
    font-size: 24px;
    margin-top: 8px;
    font-weight: 400;
    text-align: center;
}
.collegeText {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 300;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}
.br {
    height: 1.5px;
    width: 70%;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(50, 50, 50, 0.5);
}
.detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marginDown {
    margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .containerMain {
        margin-right: 8px;
    }
}

@media (max-width: 850px) {
    .containerMain {
        margin-right: 0px;
    }
}

@media (max-width: 450px) {
    .containerMain {
        width: 80%;
    }
}
