.HomeScreenBoxLeftButton{
	border: none;
	height: 40px;
	width: 150px;
	border-radius: 30px;
	background-color: #70c24e;
	border: 3px solid white;
	color: white;
	margin-top: 100px;
	font-size: larger;
}