.Result {
    width: 15vw;
    min-height: 35vh;
    background-color: white;
    float: left;
    margin-right: 1vw;
    margin-left: 1vw;
    overflow: hidden;
    margin-bottom: 1vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.UserImage {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
}

.RequestButton {
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
