.Result {
    width: 15vw;
    min-height: 35vh;
    background-color: white;
    float: left;
    margin-right: 1vw;
    margin-left: 1vw;
    overflow: hidden;
    margin-bottom: 1vw;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.4);
}

.UserImage {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

.RequestButton {
    height: 4vh;
    width: 50%;
    border: 1px solid rgba(52, 63, 69, 0.3);
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 3vh;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    text-align: center;
    margin: auto;
    padding-top: 9px;
    font-size: larger;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 1.5vh;
}
