.RequestBox {
    width: 65vw;
    display: flex;
}

.button {
    height: 32px;
    width: 80px;
    border: 1px solid rgba(52, 63, 69, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.headingText {
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .headingText {
        font-size: 25px;
    }
    .button {
        height: 20px;
        width: 72px;
        font-size: 12px;
    }
}
