.containerHeader {
    height: 32px;
}
.componentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexReverse {
    display: flex;
    flex-direction: column;
}

.RightContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.hiddenContainer {
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    .componentContainer {
        flex-direction: column;
        align-items: center;
    }
    .hiddenContainer {
        display: flex;
        width: 100%;
    }
    .RightContainer {
        display: none;
    }
}

@media (max-width: 850px) {
    .hiddenContainer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}
