.searchHeading {
    margin-top: 10vh;
    font-size: 32px;
}
.searchBar {
    width: 620px;
    margin-top: 5vh;
    color: rgba(50, 50, 50);
    border: 0;
    box-shadow: none;
    z-index: 0;
}

.submitButton {
    width: 80px;
    padding: 5px 0px;
    border: 1px solid rgba(52, 63, 69, 0.3);
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 5vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

.submitButton:active {
    background-color: lightslategray;
}

@media (max-width: 800px) {
    .searchBar {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .searchHeading {
        font-size: 24px;
    }
    .searchBar {
        width: 80%;
    }
}
