.containerMain {
    min-height: 820px;
    padding: 2px 48px;
    width: 640px;
    margin: 16px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}
.headerText {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.br {
    height: 1.5px;
    width: 70%;
    background-color: rgba(50, 50, 50, 0.2);
}
.dualContainer {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inputTextHeading {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    width: fit-content;
}
.inputTextHeadingBio {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    width: 104px;
}
.inputText {
    width: 280px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid rgba(52, 63, 69, 0.1);
    font-size: 16px;
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
}
.bioContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.inputTextBio {
    width: 592px;
    padding: 10px 10px;
    border: 1px solid rgba(52, 63, 69, 0.1);
    font-size: 16px;
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
    font-family: inherit;
}
textarea:focus {
    outline: none;
}
select:focus {
    outline: none;
}
.submitButton {
    width: 64px;
    padding: 5px 0px;
    border: 1px solid rgba(52, 63, 69, 0.3);
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}

@media (max-width: 1200px) {
    .containerMain {
        margin-right: 0px;
    }
    .inputTextHeadingBio {
        margin-right: 0px;
    }
}

@media (max-width: 850px) {
    .containerMain {
        width: 400px;
        margin-top: 16px;
    }
    .dualContainer {
        width: 400px;
    }
    .inputText {
        width: 160px;
    }
    .inputTextBio {
        width: 350px;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .containerMain {
        width: 70%;
        margin: auto;
        margin-top: 16px;
    }
    .dualContainer {
        width: 300px;
    }
    .inputText {
        width: 120px;
    }
    .inputTextBio {
        width: 220px;
        margin: auto;
    }
}
