.ResetPassword{
	background-color: #dedcde;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center; 
}

@media(max-width : 600px){
	.ResetPassword{
		background-color: #343f45;
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		height:100%;
		width:100%;
		font-size: 20px;
	}
}